.footer{
    position: fixed;
    display: flex;
    gap: 50px;
    width: 100%;
    bottom: 0;
    padding-right: 35%;
    padding-left: 35%;
    min-height: 70px;
    background-color:  #965839;
    outline: 3px solid black ;
    /* padding-top: 20px; */
  }
  .footer h2{
    text-align: center;
    font: italic small-caps bold 24px cursive;
    
  }